.navLinks a, .getItNow button {
    font-weight: 700;
    font-size: 16px;
}

header {
    position: sticky;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
    background-color: rgba(33, 35, 44, 1);
}

.logo {
    cursor: pointer;
    height: 50px;
    margin-right: auto;
}

.navLinks {
    list-style: none;
}

.navLinks li {
    display: inline-block;
    padding: 0px 20px;
}

.navLinks li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
}

.navLinks li a:hover {
    color: #3cc4a8;
}

button {
    padding: 9px 25px;
    background-color: rgba(60, 196, 168, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    -webkit-transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #35b198;
}

/* navbar links animation */

.navLinks li {
    position: relative;
    display: inline-block;
    overflow:hidden;
}
.navLinks li:hover, .navLinks li:focus {
    	outline: none;
}
.btn {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
}
.btn:before{
    position: absolute;
    top: 100%;
    color:#3cc4a8;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.btn:hover, .btn:focus {
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    transform: translateY(-100%);
}

.btn-intro:before {
    content: "Über uns";
}

.btn-example:before {
    content: "Beispiel";
}

.btn-conclusion:before {
    content: "Fazit";
}

.btn-team:before {
    content: "Team";
}