*, :after, :before {
    box-sizing: inherit
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body, html {
    margin: 0 !important;
    padding: 0 !important;
    /* background-color: #4b7891; */
    background-color: #914b85;
    /* background-color: #2b2f3c; */
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.4;
    /* color: #292929; */
    color: #fff
    /* color: white; */
}

[hidden] {
    display: none
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 20px
}

h5 {
    font-size: 18px
}

h6 {
    font-size: 16px
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 500;
    margin: 12px 0;
    text-align: center;
}

p {
    text-align: center;
    font-size: 16px;
    /* color: #292929; */
    color: #fff;
}

a {
    text-decoration: underline;
    color: #fff;
}

a:visited {
    text-decoration: underline;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

code {
    color: #3cc4a8;
}

#logo-and-intro {
    display: block;
    background-color: #515563;
}

#logo {
    position: relative;
    margin: auto;
    padding-top: 100px;
    width: 15%;
}

#logo img {
    border: none;
}

#introtitle {
    text-align: center;
    padding: 8vh 20px 2vh;
    color: #ececec;
}

#introtitle h1 {
    line-height: 1.3em;
    font-weight: 800;
    max-width: 800px;
    margin: 0 auto;
    font-size: 64px;
}

#introdiv {
    background-color: #21232C;
    padding: 50px;
}

#intro {
    display: block;
    text-align: center;
    width: 60%;

    border-radius: 20px;
    padding: 20px;
    margin: auto;
}

#learn-more {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30vh;
}

.btn {
    text-transform: uppercase;
    color: #fff;
    background-color: #3cc4a8;
    border-color: #3cc4a8;
    padding: 1.5rem 2.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    border-radius: 0.25rem;
    text-align: center;
    line-height: 1.3;
    text-decoration: none;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px #298976;
}

.btn:hover {
    text-decoration: none;
    background-color: #35b198;
    border-color: #35b198;
}

.btn:active {
    box-shadow: 0 1px #3cc4a9c4;
    transform: translateY(3px);
}

.more-links {
    text-align: center;
    margin: auto;
    border: 5px solid #A7AABD;
    width: 60%;
    border-radius: 20px;
    padding: 20px;
}

.more-links ul {
    margin-top: 40px;
}

.more-links li {
    display: inline;
    padding: 0 20px;
}

.more-links li a{
    text-decoration: none;
	color: #fff;
	font-size: 16px;
	position: relative;
	padding: 10px;
}

/* More links border animation */

.more-links li a:before, .more-links li a:after{
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;
	transition: all 0.5s ease;
}
.more-links li a:before{
	top: -2.5%;
	left: -1%;
	border-top: 2px solid #fff;
	border-left: 2px solid #fff;	
}
.more-links li a:after{
	bottom: -2.5%;
	right: -1%;
	border-bottom: 2px solid #fff;
	border-right: 2px solid #fff;
}
.more-links li a:hover:before, .more-links li a:hover:after{
	width: 102%;
	height: 102%;
	transition: all 0.5s ease;
}

.example {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #3C4665;
}

.segment {
    position: relative;
    margin: 20px;
    background-color: #c4c4c4;
    display: flex;
    height: auto;
    min-height: 300px;
    border-radius: 5px;
    align-items: center;
}

.segment-left-to-right {
    background-image: linear-gradient(90deg, #2b2f3c, #3b4052);
    box-shadow: -9px 0px 8px -4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: -9px 0px 8px -4px rgba(0, 0, 0, 0.2);
}

.segment-right-to-left {
    background-image: linear-gradient(-90deg,  #2b2f3c, #3b4052);
    box-shadow: 9px 0px 8px -4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 9px 0px 8px -4px rgba(0, 0, 0, 0.2);
}

.segment-image {
    width: 30%;
    margin: 40px 20px;
}

.segment-image:hover {
    cursor: pointer;
}

.segment-image img {
    border: none;
}

.segment-text-left {
    width: 70%;
    margin: 10px 50px;
    color: black;
}

.segment-text-right {
    text-align: right;
    width: 70%;
    margin: 10px 50px;
    color: black;
}

.rounded {
    border-radius: 5px;
}

footer {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #1d2231;
    text-align: center;
}

footer ul {
    position: absolute;
    width: 100%;
}

footer a {
    margin: auto 20px;
    color: white;
}

.conclusion-and-links {
    background-color: #21232C;
    padding-bottom: 24px;
    padding-top: 24px;
}

.conclusion {
    display: block;
    text-align: center;
    margin: auto;
    width: 60%;
    padding: 50px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
    background-color: #2b2f3c;
}

.row h2 {
    padding-top: 12px;
    margin-top: 0px;
}

.card img {
    width: 50%;
    height: 50%;
}

img {
    border: 2px solid #000;
    vertical-align: middle;
}

/* Three columns side by side */

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
    text-align: center;
}

/* Display the columns below each other instead of side by side on small screens */

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

/* Add some shadows to create a card effect */

.card {
    background-color: #21232c;
    box-shadow: 0px 4px 8px 2px rgba(0, 0, 0, 0.5);
    padding-top: 20px;
}

/* Some left and right padding inside the container */

.container {
    padding: 0 16px;
}

/* Clear floats */

.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}

* {
    box-sizing: border-box
}

#poster-and-slide {
    display: block;
    background-color: #3C4665;
    padding: 50px;
    display: flex;
}

.poster-container {
    width: 50%;
}

.slideshow-all {
    width: 50%;
    position: relative;
    display: block;
}

.slideshow-and-dots {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.slideshow-container {
    max-width: 500px;
    position: relative;
    margin: auto;
}
.slideshow-container:hover {
    cursor: pointer;
}

.poster {
    position: relative;
    max-width: 500px;
    margin: auto;
}
.poster:hover {
    cursor: pointer;
}

.more-links-container {
    background-color: #3C4665;
    padding-bottom: 24px;
}


/* Hide the images by default */

.mySlides {
    display: none;
}

/* Next & previous buttons */

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -40px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}

/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (image) */

.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    max-width: 1200px;
}

/* Caption of Modal Image */

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */

.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

/* The Close Button */

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover, .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}